body{
    background: #2c2c2c;
}

aside{
    float: left;
    background:#181818;
    width: 13%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;

}

aside img{
    width: 50px;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}
aside .Logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 5px;
}
aside ul{list-style:none}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform  .6s ease;
}
aside ul li:hover,aside ul a:hover {
        color: darkslategray;
        transform: scale(1.05);
        text-decoration: underline;
}
main .features{
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(30, 70, 39);
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
