{% extends 'polls/layout.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'polls/css/login.css' %}">
{% endblock %}

{% block content %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="wrapper">
        <div class="left">
            <h3>Rocket Station</h3>   
            <img src="https://i.imgur.com/eN4AKys.png" alt="Rocket_image">
        </div>
        <div class="right">
            <div class="tabs">
                <ul>
                    <li class="login_li">Login</li>
                </ul>
            </div>
            <div class="login">
                <div class="input_field">
                    <input type="text" name="username" id="username" value="" placeholder="Username" class="input">
                </div>
                <div class="input_field">
                    <input type="password" name="password" id="password" value="" placeholder="Password" class="input">
                </div>
                <input type="submit" value="Login" class="input">
            </div>
        </div>
    </div>
</form>
{% endblock %}



